.marquee {
	@apply relative w-full left-1/2 right-1/2 ml-[-50vw] mr-[-50vw];
	--Marquee-gap: 24px;
}

.marquee .marquee__container {
	--Marquee-shadow-size: 16px;
	--Marquee-duration: 22s;

	@apply relative overflow-hidden select-none max-w-full;
	mask-image: linear-gradient(
		to right,
		var(--mask-off) 0,
		var(--mask-ease) calc(var(--Marquee-shadow-size) / 2),
		var(--mask-on) var(--Marquee-shadow-size),
		var(--mask-on) calc(100% - var(--Marquee-shadow-size)),
		var(--mask-ease) calc(100% - calc(var(--Marquee-shadow-size) / 2)),
		var(--mask-off) 100%
	);
}

.marquee .marquee__container .marquee__inner__container {
	@apply flex w-max gap-[var(--Marquee-gap)];
	animation: Marquee_scroll var(--Marquee-duration) linear infinite;
}
.marquee .marquee__container .marquee__inner__container svg {
	@apply flex-shrink-0 fill-[var(--color-text-primary)] max-w-[120px];
}

@keyframes Marquee_scroll {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
